<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025. All rights reserved.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>AudioComponents</key>
    <array>
        <dict>
            <key>description</key>
            <string>Vox: Subtractive Synthesizer</string>
            <key>factoryFunction</key>
            <string>VoxSynthComponentFactory</string>
            <key>manufacturer</key>
            <string>ANTG</string>
            <key>name</key>
            <string>Vox</string>
            <key>sandboxSafe</key>
            <true/>
            <key>subtype</key>
            <string>anls</string>
            <key>tags</key>
            <array>
                <string>Synthesizer</string>
                <string>Instrument</string>
            </array>
            <key>type</key>
            <string>aumu</string>
            <key>version</key>
            <integer>10000</integer>
        </dict>
    </array>
</dict>
</plist>